.sectionInfoImage p {

    font-size: 14px;
}

.separation{

    border-bottom: 2px solid #048B9A;
    background-color: white;
    /* width: 90%; */
    /* margin: 20px; */
    /* padding-left: 20px;
    padding-bottom: 20px; */
    /* margin: 5%; */
   margin-bottom: 20px;
   border-radius: 10px;
   padding-bottom: 20px;
}

.blocMoyenTech{

    /* padding:10px 0 ; */
    border-bottom: 2px solid gray;
    margin: 0;
    display: flex;
    flex-direction: row;

}

.moyenTech{
color: #048B9A;
margin-top: 0;

}
.checkBoxMoyen{

      margin-left: 20px;

}



.labelMoyenTechnique{

    margin-right: 5px ;
}


.sectionImageBody{

display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;

}



.btn-delete-image{
    width: 80px;
    text-align: center;
    margin: auto;
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
}

.blocImageRapportBody{

  width: 130px;
height: 130px;
display: flex;



}

.imageRapportBody{

    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
   margin: auto;

}

.section-misePression{
    display: flex;
    flex-direction: column;
    width:150px;
}

.labelMiseEnPression{

  font-size: 13px;

}

.inputInfoImage{

width: 142px;

}

.sectionInfoImage{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

}

.title-des{
    text-align: center;
    color: #048B9A;
}

.s-titre-des{
    display: flex;
    flex-direction: column;
}

.s-titre-des label{
    margin: 15px 0;
}

.s-titre-des textarea{
    width: 80%; 
    height: 128px;
}