.blocCreateRapport{

    background-color: #E7ECE8;

}

.sectionCreateRapport{
display: flex;
flex-direction: column;
margin: 0 3%;
}

.titleMonRapport{
    margin-top: 0;
    padding-top: 10px;
}

.section-info-inter{

    display: flex;
    flex-direction: column;

}

.section-info-inter label {

    margin-bottom: 5px;

}

.buttonRegistrer{

color: white;
font-weight: bold;
position: fixed;
border-radius: 10px;
bottom: 3%;
right: 3%;
background-color: #048B9A;
height: 40px;
width: 100px;

}

.link-pdf{

    height: 40px;
    width: 200px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;

}