.blocCreateRapport{

    background-color: #E7ECE8;

}

.sectionCreateRapport{
display: flex;
flex-direction: column;
margin: 0 3%;
}

.titleMonRapport{
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
    color: #048B9A;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.section-info-inter{

    display: flex;
    flex-direction: column;

}

.section-info-inter input {

width: 200px;
height: 25px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;

}

.section-info-inter label {

    margin-bottom: 5px;

}

.buttonRegistrer{

color: white;
font-weight: bold;
position: fixed;
border-radius: 10px;
bottom: 3%;
right: 3%;
background-color: #048B9A;
height: 40px;
width: 100px;

}

.link-pdf{

    height: 40px;
    width: 200px;
    margin-bottom: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border: 2px solid black; */
    background-color: white;
    box-shadow: 8px 8px 8px grey;
    border-radius: 20px;

}

.link-pdf a {

    color: #048B9A;
    font-weight: bold;
margin: auto;    
}

@media screen and (max-width: 770px) {
    .buttonRegistrer {
    
        position: fixed;
        display: block;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        border-radius: 0;
        right: 0;
        margin-top: 10px;

    }
    .blocCreateRapport{
        margin-bottom: 60px ;
    }
  }