.title-home-rapports{

    text-align: center;
    color: #048B9A;
}

.btn-create-rapport{
    cursor: pointer;
    border: none;
    background-color: #048B9A;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
}

.all-rapports{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-rapports{

    cursor: pointer;
    min-width:250px;
    height: 60px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    border-bottom: solid 5px red;
    border-top: solid 3px white;
    border-left:solid 3px white ;
    border-right: solid 3px white;

}

.list-rapports-interFini{

    cursor: pointer;
    min-width:250px;
    height: 60px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    border-bottom: solid 5px green;
    border-top: solid 3px white;
    border-left:solid 3px white ;
    border-right: solid 3px white;

}

.bloc-rapports{

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.bloc-rapports p {

    color: red;
    cursor: pointer;
    margin-left: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 20%;
    border: 2px solid #048B9A;
}